@import url(reset.css);
@import url(tokens.css);

html {
  background-color: var(--color-light-1);
}

#app {
  padding: 1rem;
}

#full-page-app {
  border: 1px solid black;
  display: grid;
  place-items: center;
  min-height: 100vh;
}
