@import url(reset.css);
@import url(tokens.css);

html {
  background-color: var(--color-light-3);
  line-height: 1.5;
}

#app {
  padding: 1rem;
}

#full-page-app {
  display: grid;
  place-items: center;
  min-height: 100vh;
}
