:root {
  /* https://color-shader.vercel.app/#ffffff/50 */
  --color-light-0: #ffffff;
  --color-light-1: #fafafa;
  --color-light-2: #f5f5f5;
  --color-light-3: #f0f0f0;
  --color-light-4: #ebebeb;

  --color-dark-1: #0d0d0d;
  --color-dark-2: #1a1a1a;

  --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  --border-radius: 6px;
  --box-shadow-hover: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;

  --font-weight-bold: 600;
}
/* Backup colors
    #262626  #333333 
    Crimson red: #9e0000
*/
